# Data Science Tools and Ecosystem

### Author: Solmaz

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List Popular languages for data science
- List commonly used libraries and tools for data science
- Evaluate some arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. TensorFlow
4. Seaborn
5. Pytorch

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# a code cell to multiply and add numbers
(3*4)+5

17

In [8]:
# A code cell to convert minutes to hours
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335